.tog
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.tog button
{
    margin-top: 10px;
    height: 30px;
    border-radius: 8px;
    background: #6f17d4d7;
    color: #fbeee0;
    font-weight: 800;
}
#sc
{
    font-weight: 700;
    align-items: start;
    justify-content: start;
    display: none;
}

#scD
{
    font-weight: 700;
    align-items: start;
    justify-content: start;
    display: none;
}
.calc
{
   width: fit-content;
    border:1px solid wheat;
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 30px auto 30px;
    background:rgba(244,255,244,0.2);
    border-radius: 30px;
    transition: 2s;
}
.calc img
{
    max-width: 120px;
}
.year
{
    padding: 30px;
    max-width:40%x;
    max-height: 600px;
    border: 2PX solid #DAB88B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    transition: all 3s;
    border-radius: 30px;
    

}
.set
{      
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-around;

}
.set label
{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 800;
}
.set input
{
    height: 26px;
    padding-left: 5px;
    border-radius: 5px;
}
.year button
{
    padding: 5px;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.dip button
{
    padding: 5px;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.dip
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 40%px;
    max-height: 600px;
    border: 2PX solid #DAB88B;
    padding: 30px;
    display: none;
    border-radius: 30px;

}
.setd
{      
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-around;

}
.setd label
{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 800;
    border: 1px solid bisque;
    padding: 5px;
}
.setd input
{
    height: 20px;
    max-width: 70px;
    padding-left: 5px;
    border-radius: 5px;
}