body {
    font-family: Arial, sans-serif;
    background:linear-gradient(34deg,#793e3e,rgb(101, 101, 182));
    
}
.button-75 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: 30px;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 35px;
    margin-top: 20px;
    display: none;
  }
  
  .button-75:hover {
    background-color: #fff;
  }
  
  .button-75:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-75 {
      min-width: 50px;
      padding: 2px;
    }
  }
.nvbar
  {
    margin-top: -20px;
    margin-left: 50px;
    max-width:150px;
   
    background: #a79e9e5e;
    float: left;
    overflow: hidden;
    display: none;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;

  }

  .titles
{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.titles img
{
  height: 200px;
  width: 150px;
  border-radius: 30px;

  
}
.titles h1{
  font-size: 30px;
  font-weight: 900;
  font-size: 50px;
  background: rgb(131,58,180);
  background: -moz-linear-gradient(207deg, rgba(131,58,180,1) 13%, rgba(29,253,175,0.6727065826330532) 35%, rgba(252,176,69,1) 84%);
  background: -webkit-linear-gradient(207deg, rgb(196, 199, 40) 13%, rgba(29,253,175,0.6727065826330532) 35%, rgba(252,176,69,1) 84%);
  background: linear-gradient(207deg, rgb(187, 144, 52) 13%, rgba(29,253,175,0.6727065826330532) 35%, rgba(252,176,69,1) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  background-position:left;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}

.phd
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.phd h3
{
  font-size: 28px;
  font-weight: 980;
  color: white;
}

.links
  {
    display: block;
    margin-top: 10px;
    overflow: hidden;
    padding: 20px;
    
  }
  .links button
  {
   margin-top: 10px;
    background: #a79e9e5e;
    height: 30px;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    border-radius: 5px;
    border: #fff solid 1px;
    color: #fff;
   
  }
  .links button:hover
  {
    background:linear-gradient(34deg,#793e3e,rgb(101, 101, 182))
  }
  .button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: 30px;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 35px;
    margin-top: 20px;
  }
  
  .button-74:hover {
    background-color: #fff;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-74 {
      min-width: 50px;
      padding: 2px;
    }
  }

  footer{
    padding: 7px;
    width: 100%;
    background: #DAB88B;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1px;
    font-weight: 300;
    
}